@tailwind base;
@tailwind components;
@tailwind utilities;
@import "loading.css";
@import "custom-antd.css";
@import "react-toastify/dist/ReactToastify.css";

html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans JP', sans-serif;
}

.custom-collapse .ant-collapse-header {
    padding-left: 24px !important;
}

.custom-collapse .ant-collapse-content .ant-collapse-content-box {
    padding: 16px 0;
}

@layer components {
    .side-active {
        @apply border-r-[3px] border-[#1890FF] bg-[#E6F7FF] text-[#1890FF]
    }
}
